html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.logged-user-name-label {
    font-size: 25px;
    padding-right: 12px;
    text-transform: capitalize;
}

.uppercase {
    text-transform: uppercase;
}

.me-2 {
    max-width: 140px;
}