table.dataTable > tbody > tr.even-row {
    background-color: #e6e6e6;
}
#dekkhotell_table {
    /*border: 5px solid blue;*/
}
.location-taken {
    float: right;
    padding-right: 12px;
    width: 0;
    color: red;
}